@using System.Linq

@{
    ViewData["Title"] = "Home Page";
    var numberOfSitesParsed = ViewData["num_of_sites_parsed"];
    var tagsParsed = ViewData["tags_parsed"] as IEnumerable<string>;
}

@model ScrapeDetails

<script>
    function UncheckAllCheckboxs() {
        const c = document.getElementsByName("tags_to_parse");
        c.forEach(x => {
            x.checked = false;
        })
    }
</script>

<div>
    @* SUCCESSFULY URL PARSE *@
    @if (Model != null)
    {
        <div class="alert-success">URL Successfully Parsed!</div>

        if (Model.TimeToComplete < 1000)
        {
            <p>Website was parsed in @Model.TimeToComplete ms</p>
        }
        else
        {
            <p>Website was parsed in @(Model.TimeToComplete / 1000) seconds</p>
        }

        <p><b>URL</b>: @Model.Url</p>
        <p><b>Host</b>: @Model.Host</p>
        <p><b>Parsed on</b>: @Model.ScrapedOn</p>
        @if (tagsParsed != null)
        {
            <p><b>Tags parsed</b>: @string.Join(", ", tagsParsed.Select(t => t.ToString()))</p>
        }


        <div>
            <div>
                <a href="@Model.S3FileUrlViewable" target="_blank">View JSON file</a>
            </div>

            <div>
                <a href="@Model.S3FileUrlDownloadable">Download JSON file</a>
            </div>

            <a href="/" style="margin-top: 50px; display: block">Return home</a>
        </div>

        <hr style="margin-top: 50px;" />
        <p>Parse another URL</p>
        <form method="post">

            <div style="margin-bottom: 10px;">
                <input type="url" placeholder="Enter a valid url" name="url_value" id="url_input" required>
                <button type="submit">Scrape</button>
            </div>

            <button onclick="UncheckAllCheckboxs()" type="button">Uncheck all</button>

            <input type="checkbox" id="p_tag_checkbox" name="tags_to_parse" value="p" checked>
            <label for="p_tag_checkbox">&lt;p&gt;</label>

            <input type="checkbox" id="a_tag_checkbox" name="tags_to_parse" value="a" checked>
            <label for="a_tag_checkbox">&lt;a&gt;</label>

            <input type="checkbox" id="img_tag_checkbox" name="tags_to_parse" value="img" checked>
            <label for="img_tag_checkbox">&lt;img&gt;</label>

            <input type="checkbox" id="script_tag_checkbox" name="tags_to_parse" value="script" checked>
            <label for="script_tag_checkbox">&lt;script&gt;</label>

            <input type="checkbox" id="form_tag_checkbox" name="tags_to_parse" value="form" checked>
            <label for="form_tag_checkbox">&lt;form&gt;</label>

            <input type="checkbox" id="h1_tag_checkbox" name="tags_to_parse" value="h1" checked>
            <label for="h1_tag_checkbox">&lt;h1&gt;</label>

            <input type="checkbox" id="h2_tag_checkbox" name="tags_to_parse" value="h2" checked>
            <label for="h2_tag_checkbox">&lt;h2&gt;</label>

            <input type="checkbox" id="h3_tag_checkbox" name="tags_to_parse" value="h3" checked>
            <label for="h3_tag_checkbox">&lt;h3&gt;</label>

            <input type="checkbox" id="h4_tag_checkbox" name="tags_to_parse" value="h4" checked>
            <label for="h4_tag_checkbox">&lt;h4&gt;</label>

            <input type="checkbox" id="h5_tag_checkbox" name="tags_to_parse" value="h5" checked>
            <label for="h5_tag_checkbox">&lt;h5&gt;</label>

            <input type="checkbox" id="h6_tag_checkbox" name="tags_to_parse" value="h6" checked>
            <label for="h6_tag_checkbox">&lt;h6&gt;</label>

            <input type="checkbox" id="span_tag_checkbox" name="tags_to_parse" value="span" checked>
            <label for="span_tag_checkbox">&lt;span&gt;</label>

        </form>


    }
    @* default homepage *@
    else
    {

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark-reasonable.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

        <script>
            hljs.highlightAll();
        </script>

        <div style="margin-bottom: 25px;">
            <h1 style="margin-bottom: 0px;">URL Parser</h1>
            @if (numberOfSitesParsed != null)
            {
                <p style="margin-top: 0px; color: red">@numberOfSitesParsed sites have been parsed!</p>
            }

        </div>

        <form method="post">

            <div style="margin-bottom: 10px;">
                <input type="url" placeholder="Enter a valid url" name="url_value" id="url_input" required>
                <button type="submit">Scrape</button>
            </div>

            <button onclick="UncheckAllCheckboxs()" type="button">Uncheck all</button>

            <input type="checkbox" id="p_tag_checkbox" name="tags_to_parse" value="p" checked>
            <label for="p_tag_checkbox">&lt;p&gt;</label>

            <input type="checkbox" id="a_tag_checkbox" name="tags_to_parse" value="a" checked>
            <label for="a_tag_checkbox">&lt;a&gt;</label>

            <input type="checkbox" id="img_tag_checkbox" name="tags_to_parse" value="img" checked>
            <label for="img_tag_checkbox">&lt;img&gt;</label>

            <input type="checkbox" id="script_tag_checkbox" name="tags_to_parse" value="script" checked>
            <label for="script_tag_checkbox">&lt;script&gt;</label>

            <input type="checkbox" id="form_tag_checkbox" name="tags_to_parse" value="form" checked>
            <label for="form_tag_checkbox">&lt;form&gt;</label>

            <input type="checkbox" id="h1_tag_checkbox" name="tags_to_parse" value="h1" checked>
            <label for="h1_tag_checkbox">&lt;h1&gt;</label>

            <input type="checkbox" id="h2_tag_checkbox" name="tags_to_parse" value="h2" checked>
            <label for="h2_tag_checkbox">&lt;h2&gt;</label>

            <input type="checkbox" id="h3_tag_checkbox" name="tags_to_parse" value="h3" checked>
            <label for="h3_tag_checkbox">&lt;h3&gt;</label>

            <input type="checkbox" id="h4_tag_checkbox" name="tags_to_parse" value="h4" checked>
            <label for="h4_tag_checkbox">&lt;h4&gt;</label>

            <input type="checkbox" id="h5_tag_checkbox" name="tags_to_parse" value="h5" checked>
            <label for="h5_tag_checkbox">&lt;h5&gt;</label>

            <input type="checkbox" id="h6_tag_checkbox" name="tags_to_parse" value="h6" checked>
            <label for="h6_tag_checkbox">&lt;h6&gt;</label>

            <input type="checkbox" id="span_tag_checkbox" name="tags_to_parse" value="span" checked>
            <label for="span_tag_checkbox">&lt;span&gt;</label>

        </form>

        <hr>

        <p>Use our free online tool to parse URLs and extract HTML tag information. This data can then be used for
            developers to build more feature-rich web scraping/parsing tools with the IDs and classes of certain tags being
            clearly shown.</p>

        <p>All pages parsed will return a downloadable JSON file containing information such as the number of tags on each
            page, the inner text of these tags, classes and ID attributes, and more.</p>


        <partial name="_JsonExample" />
    }
</div>
