@using System.Linq

@{
    ViewData["Title"] = "Home Page";
    var numberOfSitesParsed = ViewData["num_of_sites_parsed"];
    var tagsParsed = ViewData["tags_parsed"] as IEnumerable<string>;
}

@model ScrapeDetails

<div>
    @* SUCCESSFULY URL PARSE *@
    @if (Model != null)
    {
        <div class="alert-success">URL Successfully Parsed!</div>

        if (Model.TimeToComplete < 1000)
        {
            <p>Website was parsed in @Model.TimeToComplete ms</p>
        }
        else
        {
            <p>Website was parsed in @(Model.TimeToComplete / 1000) seconds</p>
        }

        <p><b>URL</b>: @Model.Url</p>
        <p><b>Host</b>: @Model.Host</p>
        <p><b>Parsed on</b>: @Model.ScrapedOn</p>
        @if (tagsParsed != null)
        {
            <p><b>Tags parsed</b>: @string.Join(", ", tagsParsed.Select(t => t.ToString()))</p>
        }


        <div>
            <div>
                <a href="@Model.S3FileUrlViewable" target="_blank">View JSON file</a>
            </div>

            <div>
                <a href="@Model.S3FileUrlDownloadable">Download JSON file</a>
            </div>

            <a href="/" style="margin-top: 50px; display: block">Return home</a>
        </div>

        <hr style="margin-top: 50px;" />
        <p>Parse another URL</p>
        <partial name="_TagsForm" />


    }
    @* default homepage *@
    else
    {

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark-reasonable.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

        <script>
            hljs.highlightAll();
        </script>

        <div id="top_info_div">
            <div style="margin-bottom: 40px;">
                <h1 style="margin-bottom: 0px;">URL Parser</h1>
                <p>Extract HTML tag information from any website and download JSON data showcasing attributes such as href,
                    inner text, class, src, and more</p>
                @if (numberOfSitesParsed != null)
                {
                    <p style="margin-top: 0px; color: red">@numberOfSitesParsed sites have been parsed!</p>
                }
            </div>

            <partial name="_TagsForm" />
        </div>



        <hr>

        <p>Use our free online tool to parse URLs and extract HTML tag information. This data can then be used for
            developers to build more feature-rich web scraping/parsing tools with the IDs and classes of certain tags being
            clearly shown.</p>

        <p>All pages parsed will return a downloadable JSON file containing information such as the number of tags, the inner text of these tags, classes and ID attributes, and more.</p>


        <partial name="_JsonExample" />
    }
</div>
